{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "vueIndentScriptAndStyle": true,
  "htmlWhitespaceSensitivity": "ignore",
  "htmlVoidTags": [],
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.vue",
      "options": {
        "vueIndentScriptAndStyle": false
      }
    }
  ]
}
